* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: gold;
    text-align: center;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
}

.pathway {
    text-align: right;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
}

.navbar {
    text-align: center;
    padding: 0;
}

.select {
    margin: 5px;
    border-radius: 10px;
    width: 110px;
    height: 25px;
}

.input {
    margin: 5px;
    border-radius: 10px;
    width: 110px;
    height: 20px;
}

button {
    border-radius: 10px;
    height: 25px;
    margin: 10px;
}

.navbar-item {
    padding: 15px;
    display: inline-block;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
    
.navbar-links {
    padding: 0;
}

.home-form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.checkbox {
    line-height: 28px;
    text-align: center;
}

/* @media screen and (min-device-width: 1200px) {

} */