.itinerary {
  text-align: center;
  border: 5px solid rgb(252, 255, 232);
  margin: 2vh;
  border-radius: 10px;
  padding: 2vh;
}

.map-text {
  margin: 2vh auto;
  padding: 1vh;
}

.map-container {
  min-height: 45vh;
  max-height: 55vh;
  width: 95%;
  margin: 0 auto;
}

.map-stops {
  margin-bottom: 0;

}

.map-places {
  margin-top: 5px;
  padding-left: 0;
  list-style-type: none;
}

.restaurant {
  padding-bottom: 8px;
  font-size: 20px;
}

.map-button {
  margin: 0 auto;
}

@media screen and (min-device-width: 1200px) {
  .itinerary {
    margin: 2vh 2vh 2vh 2vh;
  }

  .map {
    display: flex;
    flex-direction: column;
  }
  
  .map-text {
    width: 90%;
    }
  
  .map-container {
    height: 80vh;
    width: 90%;
  }

  .map-button {
    margin-top: 10px;
  }
}

