.map-stops {
  margin: 0 auto;
}

.map-container {
  height: 55vh;
  width: 80%;
  margin: 0 auto;
}

.map-restaurants {
  padding-left: 0;
  list-style-type: none;
}

.restaurant {
  padding-bottom: 10px;
  font-size: 20px;
}

.map-button {
  margin: 0 auto;
}

@media screen and (min-device-width: 1200px) {
  .map {
    display: flex;
  }
  
  .map-stops {
    width: 25%;
  }
  
  .map-container {
    height: 80vh;
    width: 70%;
  }

  .map-button {
    margin-top: 10px;
  }
}

